<!DOCTYPE html>
<html>
{{> head}}
<head>
<script src="js/TMForm.js"></script>
<script src="js/modal.js"></script>
<script src="js/handlerError.js"></script>
</head>
<body onload="loadMessage()">
{{> languaje}}
{{> header}}
<section id="content" class="page5">
    <div class="container bord_1 perspective">
        <div class="row mar_t_6 pad_b_95 perspective">
            <div class="grid_3 s4">
                <h3>[[address]]</h3>

                <address class="">
                    <em>[[complete_address]],<br>[[city_address]]</em>


                    <span class="width1">[[telephone_Fax]] </span>[[telephone_number]]<br>
                    <span class="width1">[[whatsapp]]</span>[[whatsapp_number]]<br>
                    E-mail: <a href="#"><!--email_off-->[[email]]<!--/email_off--></a>
                </address>
            </div>
            <div class="grid_9">
                <h3 class='s5'>[[contact_form]]</h3>
                <form id="contact-form" method="post">
                    <div class="contact-form-loader"></div>
                    <fieldset>
                        <label class="name s55">
                            <input type="text" name="name" placeholder="[[Name]]*:"
                                   required="required"/>
                            <span class="empty-message">[[this_field_is_required]]</span>
                        </label>

                        <label class="email s56">
                            <input class="email s56" name="email" placeholder="[[Email]]*:" value=""
                                   required="required"/>
                            <span class="empty-message">[[this_field_is_required]]</span>
                            <span class="error-message">[[this_is_not_a_valid_email]]</span>
                        </label>

                        <label class="phone s57">
                            <input type="text" name="phone" placeholder="[[Phone:]]" value=""/>
                            <span class="empty-message">[[this_field_is_required]]</span>
                            <span class="error-message">[[this_is_not_a_valid_phone]]</span>
                        </label>

                        <label class="message s58">
                            <textarea name="message" placeholder="[[Message]]:" required="required"></textarea>
                            <span class="empty-message">[[this_field_is_required]]</span>
                            <span class="error-message">[[the_message_is_too_short]]</span>
                        </label>
                        <!-- <label class="recaptcha"><span class="empty-message">*This field is required.</span></label> -->
                        <div class="contact-form-buttons s59">
                            <button type="submit" class="btn_4">[[send]]</button>
                        </div>
                        <div id="alert-msg"/>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

</section>

{{> modal}}
{{> footer}}
<script src="js/script.js"></script>
</body>
</html>