<head>
    <title>{{$page_title}}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="En el mundo de hoy el idioma ingles es esencial para ampliar los horizontes a nivel laboral y academico. Es un pasaporte para viajar a cualquier lugar.">
    <meta content="idiomas, Pilar; academias; examenes internacionales; Teatro ;viajes de estudio; viajes idiomaticos; viajes de intercambio; ingles laboral; BEC; CLIL; Macquarie School of English" name="keywords">
    {{> page_layout}}
    <link rel="stylesheet" href="css/variables.css">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="js/camera.js"></script>
    <script src="js/jquery.tabs.js"></script>
    <script src="js/isotope-docs.min.js"></script>
    <script src="js/touchTouch.jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
  