<!DOCTYPE html>
<html>
{{> courses_head}}
<body>
{{> languaje}}
{{> header}}
<section id="team" class="pb-5">
  <div class="container">
    <div class="row">
      <!-- Kinder -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center kinder-img">
                  <p><img class="img-fluid" src="images/p3_big7.jpg" alt=""></p>
                  <h4 class="card-title">[[KINDER_TITLE]]</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <div class="card-title">
                    <h4>[[KINDER_TITLE]]</h4>
                    <p>[[KINDER_DESCRIPTION]]</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Kinder -->
      <!-- MINI & JUNIOR SCHOOL -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center mini-junior-school-img">
                  <p><img class="img-fluid" src="images/p3_pic2.jpg" alt=""></p>
                  <h4 class="card-title">[[MINI_JUNIORS_SCHOOL_TITLE]]</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">[[MINI_JUNIORS_SCHOOL_TITLE]]</h4>
                  <p class="card-text">[[MINI_JUNIORS_SCHOOL_DESCRIPTION]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MINI & JUNIOR SCHOOL -->

      <!-- ADULTS -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center mini-junior-school-img">
                  <p><img class="img-fluid" src="images/adults_pic1.jpg" alt=""></p>
                  <h4 class="card-title">[[ADULTS_TITLE]]</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">[[ADULTS_TITLE]]</h4>
                  <p class="card-text">[[ADULTS_DESCRIPTION]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ADULTS -->
    </div>
    <div class="row">

      <!-- ESP -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center mini-junior-school-img">
                  <p><img class="img-fluid" src="images/esp_pic.jpg" alt=""></p>
                  <div class="card-title">
                    <h4>[[ESP_TITLE]]</h4>
                    <p>[[ESP_SUBTITLE]]</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">[[ESP_TITLE]]</h4>
                  <p class="card-text">[[ESP_DESCRIPTION]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ESP -->
      <!-- COACHING -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center mini-junior-school-img">
                  <p><img class="img-fluid" src="images/p3_pic11.jpg" alt=""></p>
                  <h4 class="card-title">[[COACHING_TITLE]]</h4>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">[[COACHING_TITLE]]</h4>
                  <p class="card-text">[[COACHING_DESCRIPTION]]</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- COACHING -->
      <!-- EXAMS -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center international-exams-img">
                  <p><img class="img-fluid" src="images/international_exams.jpg" alt=""></p>
                  <div class="card-title">
                    <h4 class="card-title">[[EXAMS_TITLE]]</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <div class="card-title">
                    <h4>[[EXAMS_TITLE]]</h4>
                    <p>[[EXAMS_DESCRIPTION]]</p>
                  </div>
                  <button type="button"
                          class="btn btn-info btn-lg"
                          data-toggle="modal"
                          data-target="#examsModal"
                  >[[EXAMS_BUTTON_READMORE]]
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- EXAMS -->
    </div>
  </div>
</section>
{{> exams}}
<!-- courses -->
{{> modal}}
{{> footer}}
<script src="js/script.js"></script>
</body>
</html>