<div class="modal fade" id="examsModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title exams">[[EXAMS_MODAL_TITLE]]</h4>
      </div>
      <div class="modal-body">
        <img src="images/logo-cambridge.jpg" style="align-content: center">
        <p>[[EXAMS_MODAL_DESC1]]</p>
        <p>[[EXAMS_MODAL_DESC2]]</p>
        <p>[[EXAMS_MODAL_DESC3]]</p>
        <img src="images/cambridge-graph.png" style="align-content: center">
        <img src="images/lcci.jpg" style="align-content: start">
        <p>[[EXAMS_MODAL_DESC4]]</p>
        <p>[[EXAMS_MODAL_DESC5]]</p>
        <p>[[EXAMS_MODAL_DESC6]]</p>
        <h5><span class="badge badge-secondary">English for business</span></h5>
        <h5><span class="badge badge-secondary">Spoken English for Industry and Commerce</span></h5>
        <h5><span class="badge badge-secondary">English for Tourism</span></h5>
      </div>
    </div>
  </div>
</div>