<!DOCTYPE html>
<html>
{{> head}}
<body>
{{> languaje}}
{{> header}}
<section id="content">
    <div class="slider_box">
        <div class="slider_wrapper">
            <div class=''>
                <div id="camera_wrap">
                    <div data-src="/images/gall_pic1.jpg">
                        <div class="caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <div class="grid_12">
                                        <p class="p1">[[title_pic1]]</p>
                                        <p class="p2 max-with_1">
                                           [[description_pic1]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="/images/gall_pic2.jpg">
                        <div class="caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <div class="grid_12">
                                        <p class="p1">[[title_pic2]]</p>
                                        <p class="p2 max-with_1">
                                           [[description_pic2]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="/images/gall_pic3.jpg">
                        <div class="caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <div class="grid_12">
                                        <p class="p1">[[title_pic3]]</p>
                                        <p class="p2 max-with_1">
                                           [[description_pic3]]
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mar_t_-56">
        <div class="row perspective">
            <div class="grid_4 mission">
                <div class="banner_1">
                    <div class="pad_1">
                        <h2>[[Principal_notes_title]]</h2>
                        <p class="">
                            <a href="#" class="">
                                [[Principal_notes_subtitle]]
                            </a><br><br>
                            [[principal_notes_description]]
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid_4 methodology">
                <div class="banner_2">
                    <div class="pad_1">
                        <h2>[[PROGRAMS_FOR_EDUCATORS_title]]</h2>
                        <p class="">
                            <a href="#" class="">
                                [[PROGRAMS_FOR_EDUCATORS_subtitle]]
                            </a><br><br>
                            [[PROGRAMS_FOR_EDUCATORS_description]]
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid_4 visit_us">
                <div class="banner_3">
                    <div class="pad_1">
                        <h2>[[DYNAMIC_CLASSROOMS_title]]</h2>
                        <p class="">
                            <a href="#" class="">
                                [[DYNAMIC_CLASSROOMS_subtitle]]
                            </a><br><br>
                            [[DYNAMIC_CLASSROOMS_description]]
                        </p>
                        <a class="btn-default btn_1" href="contact">[[read more]]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper1">
            <div class="row ">
                <div class="grid_12 perspective how-to-incorporate-description">
                    <h2>[[title_how_incorporate]]</h2>
                    <p class="p4 mar_t_15 font-incorporate">[[description_how_incorporate]]</p>

                </div>
            </div>
        </div>
    </div>
</section>
{{> modal}}
{{> footer}}
<script src="js/script.js"></script>
</body>
</html>