<div class="dropdown button-lang">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Cambiar de idioma
    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul>
            <li><a  class="dropdown-item" href="/home?lang=es"> Español <img src="/images/argentina.svg" width="17px" /></a></li>
            <li><a  class="dropdown-item" href="/home?lang=en"> English <img src="/images/england.jpg" width="17px" /></a></li>
        </ul>
    </div>
</div>