<div class="modal fade response-message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">[[modal_title_home]]</h4>
            </div>
            <div class="modal-body">
                [[modal_description_home]]
            </div>
        </div>
    </div>
</div>
<!-- Modal Map -->
<div class="modal fade" id="mapModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title map">[[MAP_TITLE]]</h4>
            </div>
            <div class="modal-body">
                <img src="images/mapa2.jpg" style="align-content: center">
            </div>
        </div>
    </div>
</div>