{{> courses_head}}
<section id="team" class="events">
    <div class="container">
        <div class="wrapper1">
            <div class="row">
                <h1>Eventos</h1>
                <div class="card-columns">
                    {{#events}}
                        <div class="card bg-light">
                            <div class="card" style="width:400px">
                                <div class="card-body">
                                    <h2 class="card-title">{{event_date}}</h2>
                                    <p class="card-text">{{description}}</p>
                                </div>
                            </div>
                        </div>
                    {{/events}}
                </div>
            </div>
        </div>
        
    </div>
</section>