<header id="header">
    <div id="stuck_container">
        <div class="container">
            <div class="row">
                <div class="grid_12">
                    <h1 class="">
                        <a onclick="renderPage('home','{{data.Home.value}}');"><img  class="img-logo" src="/images/logo.png"><br></a>
                    </h1>
                    {{> nav}}
                </div>
            </div>
        </div>
    </div>
</header>