<head>
    <title>{{page_title}}</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="En el mundo de hoy el idioma ingles es esencial para ampliar los horizontes a nivel laboral y academico. Es un pasaporte para viajar a cualquier lugar.">
    <meta content="idiomas, Pilar; academias; examenes internacionales; Teatro ;viajes de estudio; viajes idiomaticos; viajes de intercambio; ingles laboral; BEC; CLIL; Macquarie School of English" name="keywords">
    {{> page_layout}}
    {{> javascripts}}
</head>
