<section id="content">
    <div class="slider_box">
        <div class="slider_wrapper">
            <div class=''>
                <div id="camera_wrap">
                    <div data-src="/images/gall_pic1.jpg">
                        <div class="caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <div class="grid_12">
                                        <p class="p1">{{data.title_pic1.value}}</p>
                                        <p class="p2 max-with_1">
                                           {{data.description_pic1.value}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="/images/gall_pic2.jpg">
                        <div class="caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <div class="grid_12">
                                        <p class="p1">{{data.title_pic2.value}}</p>
                                        <p class="p2 max-with_1">
                                           {{data.description_pic2.value}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-src="/images/gall_pic3.jpg">
                        <div class="caption fadeIn">
                            <div class="container">
                                <div class="row">
                                    <div class="grid_12">
                                        <p class="p1">{{data.title_pic3.value}}</p>
                                        <p class="p2 max-with_1">
                                           {{data.description_pic3.value}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mar_t_-56">
        <div class="row perspective">
            <div class="grid_4 mission">
                <div class="banner_1">
                    <div class="pad_1">
                        <h2>{{data.Principal_notes_title.value}}</h2>
                        <p class="">
                            <a href="#" class="">
                                {{data.Principal_notes_subtitle.value}}
                            </a><br><br>
                            {{data.principal_notes_description.value}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid_4 methodology">
                <div class="banner_2">
                    <div class="pad_1">
                        <h2>{{data.PROGRAMS_FOR_EDUCATORS_title.value}}</h2>
                        <p class="">
                            <a href="#" class="">
                                {{data.PROGRAMS_FOR_EDUCATORS_subtitle.value}}
                            </a><br><br>
                            {{data.PROGRAMS_FOR_EDUCATORS_description.value}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="grid_4 visit_us">
                <div class="banner_3">
                    <div class="pad_1">
                        <h2>{{data.DYNAMIC_CLASSROOMS_title.value}}</h2>
                        <p class="">
                            <a href="#" class="">
                                {{data.DYNAMIC_CLASSROOMS_subtitle.value}}
                            </a><br><br>
                            {{data.DYNAMIC_CLASSROOMS_description.value}}
                        </p>
                        <a class="btn-default btn_1" href="contact?lang=es">{{data.readmore.value}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="wrapper1">
            <div class="row ">
                <div class="grid_12 perspective how-to-incorporate-description">
                    <h2>{{data.title_how_incorporate.value}}</h2>
                    <p class="p4 mar_t_15 font-incorporate">{{data.description_how_incorporate.value}}</p>

                </div>
            </div>
        </div>
    </div>
</section>