<!DOCTYPE html>
<html>
{{> head}}
<body onload="renderPage('home')">
{{> languaje}}
{{> header}}
<div id="target">
    <div class="spinner"> 
        <div class="loader"></div>
    </div>
</div>
{{> events}}
{{> modal}}
{{> footer}}
</body>
</html>