<nav>
    <ul class="sf-menu">
        {{#menu}}
            <li 
            {{#className}}
                class="{{className}}"
            {{/className}} id="{{name}}"><a onclick="renderPage('{{action}}','{{name}}');">{{name}}</a></li>
        {{/menu}}
    </ul>
    <div class="clearfix"></div>
</nav>