<nav>
    <ul class="sf-menu">
        {{#menu}}
            <li 
            {{#className}}
                class="{{className}}"
            {{/className}}><a href="{{href}}">{{name}}</a></li>
        {{/menu}}
    </ul>
    <div class="clearfix"></div>
</nav>