<section id="content">
    <div class="">
        <div class="">
            <div id="camera_wrap">
                <div data-src="/images/virtual-classes-02.jpeg">
                    <div class="caption fadeIn">
                        <div class="container">
                            <div class="row">
                                <div class="grid_12">
                                    <p class="p1">{{data.virtual_classes_title.value}}</p>
                                    <p class="p1">{{data.virtual_classes_title_02.value}}</p>
                                    <p class="p7">{{data.virtual_classes_description_02.value}}</p>
                                    <a class="p7" onclick="renderPage('contact','{{data.Contact.value}}');">{{data.virtual_classes_get_in_touch.value}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-src="/images/virtual-classes-03.jpg">
                    <div class="caption fadeIn">
                        <div class="container">
                            <div class="row">
                                <div class="grid_12">
                                    <p class="p1">{{data.virtual_classes_title.value}}</p>
                                    <p class="p1">{{data.virtual_classes_title_02.value}}</p>
                                    <p class="p7">{{data.virtual_classes_description_02.value}}</p>
                                    <a class="p7" onclick="renderPage('contact','{{data.Contact.value}}');">{{data.virtual_classes_get_in_touch.value}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>