<div ng-controller="HomeController" data-ng-init="onloadFun()">
    <div class="spinner" ng-show="loading"> 
        <div class="loader"></div>
    </div>
    <div ng-hide="loading">
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Due Date</th>
                <th scope="col">Languaje</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events">
                    <td>{{event._id}}</td>
                    <td>{{event.title}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.dueDate}}</td>
                    <td>{{event.languaje}}</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="edit(event)">
                            <span class="glyphicon glyphicon-edit"></span> Add/Edit
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-ng-click="delete(event._id)">
                            <span class="glyphicon glyphicon-remove"></span> Remove 
                        </button>
                    </td>
                </tr>
            </tbody>
        
        </table>
    </div>
    
    <div ng-if="editMode == true">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-4 col-sm-2 ml-md-auto">
                    <label class="input-group-text" for="labelForTitle">Title</label>
                </div>
                <div class="col-4 col-sm-4 ml-md-auto">
                    <input type="text" name="input" ng-model="editEvent.title" class="form-control" id="labelForTitle">   
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-4 col-sm-2 ml-md-auto">
                    <label class="input-group-text" for="labelForDescription">Description</label>
                </div>
                <div class="col-4 col-sm-4 ml-md-auto">
                    <input type="text" name="input" ng-model="editEvent.description" class="form-control" id="labelForDescription">   
                </div>
            </div>
           <div class="row justify-content-start">
                <div class="col-4 col-sm-2 ml-md-auto">
                    <label class="input-group-text" for="labelForDate">Due Date</label>
                </div>
                <div class="col-4 col-sm-4 ml-md-auto">
                    <input type="text" name="input" ng-model="editEvent.dueDate" class="form-control" id="labelForDate">   
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="col-4 col-sm-2 ml-md-auto">
                    <label class="input-group-text" for="labelForLanguaje">Languaje</label>
                </div>
                <div class="col-4 col-sm-4 ml-md-auto">
                    <input type="text" name="input" ng-model="editEvent.languaje" class="form-control" id="labelForLanguaje">   
                </div>
                <div class="col-8 col-sm-4 ml-md-auto">
                    <button type="button" class="btn btn-primary" data-ng-click="update()">Update</button>
                    <button type="button" class="btn btn-primary" data-ng-click="insert()">Insert</button>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="showError">
        {{error}}
    </div>
</div>