.img-logo{
    width: 500px;
}

.button-lang{
    display: flex;
    justify-content: flex-start;
}

.center-under-construction {
    padding-left: 12em !important;
}

#content > div.container.mar_t_-56 > div > div:nth-child(2) > div > div {
    height: 579px;
}

#content > div.container.mar_t_-56 > div {
    width: 1213px;
}

#content > div.container.mar_t_-56 > div > div:nth-child(3) > div > div {
    height: 579px;
}

.kinder {
    background: #72deae4d;
    height: 661px !important;
}

.mini-junior-school {
    background: #de72cf4d;
    height: 661px !important;
}

.adults {
    background: #7edfa3;
    height: 661px !important;
}

.esp {
    background: #a977e44d;
    height: 661px !important;
    margin-top: 70px !important;
}

.coaching {
    background: #86c1e6;
    height: 661px !important;
    margin-top: 70px;
}

.international-exams {
    background: #858ede;
    height: 661px !important;
    margin-top: 70px;
}

p {
    font: 300 17px/18px Ubuntu,sans-serif;
    color: #606364;
}

div[class="grid_4 mission"] > div {
    height: 655px;
}

div[class="grid_4 methodology"] > div {
    height: 655px;
}

div[class="grid_4 visit_us"] > div {
    height: 655px;
}

div[class="grid_3 map"]  {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-top: 27px;
    padding-right: 120px;
    width: 220px;
    margin-left: 0px;
}

.kinder-img > img{
    height: 180px;
    width: 240px;
}

.mini-junior-school-img > img {
    height: 180px;
    width: 240px;
}

.adults-img > img {
    height: 180px;
    width: 240px;
}

.esp-img > img {
    height: 180px;
    width: 240px;
}

.coaching-img > img {
    height: 180px;
    width: 240px;
}

.international-exams-img > img {
    height: 180px;
    width: 240px;
}

.banner_1-header {
    height: 100px;
}

div[class="modal-body"] {
    padding-left: 80px;
}

.img-map {
    width: 150px;
    height: 120px;
    background: url('../images/mapa2.jpg') no-repeat center !important;
}