.img-logo {
    width: 500px;
}

.button-lang {
    display: flex;
    justify-content: flex-start;
}

.center-under-construction {
    padding-left: 12em !important;
}

#content > div.container.mar_t_-56 > div > div:nth-child(2) > div > div {
    height: 579px;
}

#content > div.container.mar_t_-56 > div {
    width: 1213px;
}

#content > div.container.mar_t_-56 > div > div:nth-child(3) > div > div {
    height: 579px;
}

.kinder {
    background: #72deae4d;
    height: 661px !important;
}

.mini-junior-school {
    background: #de72cf4d;
    height: 661px !important;
}

.adults {
    background: #7edfa3;
    height: 661px !important;
}

.esp {
    background: #a977e44d;
    height: 661px !important;
    margin-top: 70px !important;
}

.coaching {
    background: #86c1e6;
    height: 661px !important;
    margin-top: 70px;
}

.international-exams {
    background: #858ede;
    height: 661px !important;
    margin-top: 70px;
}

p {
    font: 300 17px/18px Ubuntu, sans-serif;
    color: #606364;
}

div[class="grid_4 mission"] > div {
    height: 655px;
}

div[class="grid_4 methodology"] > div {
    height: 655px;
}

div[class="grid_4 visit_us"] > div {
    height: 655px;
}

div[class="grid_3 map"] {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-top: 27px;
    padding-right: 120px;
    width: 220px;
    margin-left: 0px;
}

div[class="card-body text-center kinder-img"] > p > > img {
    height: 261px;
    width: 316px;
}

div[class="card-body text-center mini-junior-school-img"] > p > img {
    height: 261px;
    width: 316px;
}

div[class="card-body text-center adults-img"] > p > img {
    height: 261px;
    width: 316px;
}

div[class="card-body text-center esp-img"] > p > img {
    height: 261px;
    width: 316px;
}

div[class="card-body text-center coaching-img"] > p > img {
    height: 261px;
    width: 316px;
}

div[class="card-body text-center international-exams-img"] > p > img {
    height: 261px;
    width: 316px;
}

div[class="card-body text-center mini-junior-school-img"] {
    padding-bottom: 7px;
}

img[src="images/logo-cambridge.jpg"] {
    align-content: flex-start;
    width: 250px;
}

img[src="images/lcci.jpg"] {
    align-content: start;
    width: 125px;
}

h4.modal-title.exams {
    padding-left: 65px;
}

h4.modal-title.map {
    padding-left: 65px !important;
}

.img-fluid {
    width: 200px !important;
    height: 200px !important;
}

.banner_1-header {
    height: 100px;
}

div[class="modal-body"] {
    padding-left: 80px;
}

.img-map {
    width: 150px;
    height: 120px;
    background: url('../images/mapa2.jpg') no-repeat center !important;
}

.footer-font {
    font: 500 62px/54px Ubuntu, sans-serif !important;
    text-transform: uppercase !important;
    color: #2f3133 !important;
}

.footer-font-2 {
    font: 600 12px/18px Ubuntu, sans-serif !important;
    text-transform: uppercase !important;
    color: #2f3133 !important;
}

.font-incorporate {
    font: 500 17px/23px Ubuntu, sans-serif !important;
    color: #2f3133 !important;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert.success {
    background-color: #4CAF50;
}